# --- Sys ---
.DS_Store
Thumbs.db
*.log

# --- Node / Dependence ---
node_modules/
dist/
.npm
.eslintcache

# --- Environment ---
.env
.env.local
.env.production
.env.development

# --- Next.js (frontend) ---
.next/
out/

# --- NestJS (backend) ---
/apps/backend/dist
/apps/backend/build
/apps/backend/uploads/
/apps/backend/src/generated

# --- Vite (admin) ---
/apps/admin/dist

# --- React Native (soundfix) ---
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
/apps/soundfix/android/.gradle
/apps/soundfix/android/app/build
/apps/soundfix/ios/Pods
/apps/soundfix/ios/build

# --- Prisma ---
/apps/backend/prisma/dev.db
/apps/backend/prisma/dev.db-journal
