# Strict engine checking
engine-strict=true

# Hoisting patterns - globals
hoist-pattern[]=*typescript*
hoist-pattern[]=*eslint*
hoist-pattern[]=*prettier*
hoist-pattern[]=*jest*
hoist-pattern[]=*@types/*


hoist-pattern[]=!*react-native*
hoist-pattern[]=!*expo*
hoist-pattern[]=!*metro*
hoist-pattern[]=!*@react-native*
hoist-pattern[]=!*@expo*

strict-peer-dependencies=false

resolution-mode=highest