@import "tailwindcss";

@theme {
  --color-spotify-green: #1db954;
  --color-spotify-black: #000000;
  --color-spotify-base: #121212;
  --color-spotify-highlight: #1a1a1a;
  --color-spotify-press: #282828;
  --color-spotify-muted: #a7a7a7;
  --color-spotify-white: #ffffff;
}

body {
  background-color: var(--color-spotify-black);
  color: var(--color-spotify-white);
  font-family: Arial, Helvetica, sans-serif;
}